@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Red+Hat+Display:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap');

$light:#E5E5E5;
$light-pink:#FFECEC;
$pink:#F95465;
$dark:#263238;
$grey:#979797;

body{
    font-family: 'Red Hat Display', sans-serif;
}
.header{
    max-width: 1440px;
    height: 72px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.01), 0px 4px 8px rgba(0, 0, 0, 0.02), 0px 1px 12px rgba(0, 0, 0, 0.12);

    &-list{
        display:flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        gap:30px;
        margin-right: 87px;
        transition: .2s color border-botom;
    }
&-link{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    color:$grey;
   &-item{
    position: absolute;
   } 
}
&-link1{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    color:$grey; 
    display: inline;
    transition: .2s ease color;
}
}

.header-item {
    padding: 19px 0;
    
    &:hover {
        border-bottom: 2px solid $pink;
    }
}

.header-link:hover{
    color:$dark;
}
.img{
    margin-top: 20px;
    margin-left: 90px;

}
.form{

    &-btn{
        margin-left: 204px;
        background-image: url('../img/search.svg');
        width: 17.5px;
        height: 17.5px;
        border: none;
        background-color: #fff;
        cursor: pointer;
        
    }
    .form-btn:hover{
        background-image: url('../img/search_dark.svg');
        

    }

}
.form-btn:hover{
    fill:url(img/search\ black.png);
    background-repeat: no-repeat;
    border: none;
   
}

.main{
    text-align: center;
    max-width: 1320px;
    height: 182px;
    margin-top: 60px;
    &-title{
        font-size: 61px;
        font-weight: 500;
        color:$dark;
        margin-bottom: 0;
    }
    &-description{
        color:#FB705A;
        font-size: 22px;
        font-weight: 700;
        line-height: 29px;
        margin-top: 4px;
    }
}

.restaurant {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

    &-title {
        font-weight: 500;
         font-size: 44px;
         line-height: 58px;
         text-align: center;
         color: $dark;
         margin-bottom: 0;
    }

    &-subtitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        color:$pink;
        margin-top: 10px;
    }

    & .container {
        width: 100%;
        margin-left: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    & .block {
        width: 280px;
        height: 280px;
        margin-left: 10px;

        &.large {
            width: 580px;
        }
    }
}

.wrapper{
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
   
}
.main-text{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFECEC;
}
.img1{
    width: 660px;
    height: 491px;
}

.text{
    width: 544px;
    &-title{
        font-size: 46px;
        font-weight: 500;
        line-height: 58px;
    }
    &-description{
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }
}
.placeholder{
    width: 350px;
    height: 50px;
    color: #ffffff;
    background-color: #ffffff;
    border:none;
    border: 1px solid #FFCDD1;
    border-radius: 6px;
}
.search-btn{
    background-color: #FB715A;
    border: none;
    width: 180px;
    height: 56px;
    color: #FFFFFF;
    background-image: url('../img/Vector.svg');
    background-repeat: no-repeat;
    background-size: 17.5px 17.5px;
    background-position: 20% 20px;
    border-radius: 6px;
}
.location{
    display:flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: -25px;
    
    &-rest{
        background-color:#FFFFFF;
        width: 380px;
        height: 220px;
        background-image: url(../img/back.svg);
    background-repeat: no-repeat;
    background-position: 98% 60px;
    box-shadow: 0px 10px 32px rgba(249, 90, 98, 0.12);
    padding-left: 10px;
    
    }
    &-hot{
        background-color:#FFFFFF;
        width: 380px;
        height: 220px;
        background-image: url(../img/back.svg);
    background-repeat: no-repeat;
    background-position: 98% 60px;
    box-shadow: 0px 10px 32px rgba(249, 90, 98, 0.12);
    padding-left: 10px;
    }
    &-mark{
        background-color:#FFFFFF;
        width: 380px;
        height: 220px;
        background-image: url(../img/back.svg);
    background-repeat: no-repeat;
    background-position: 98% 60px;
    box-shadow: 0px 10px 32px rgba(249, 90, 98, 0.12);
    padding-left: 10px;
    }
    
}
.block-hover{
    display: none;
    background-color: linear-gradient(90.09deg, #FB6F5B 0.09%, #F84C6A 99.93%);
    width: 280px;
    height:136px;
    background-image: url(../img/arrow\ white.svg);
    background-repeat: no-repeat;
}
.title-hover{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color:#ffffff;
}
.subtitle-hover{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#ffffff;
}
.block-descript:hover{
display: none;
}
.block-hover:hover{
    display: block;
    -webkit-animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            position: absolute;
            bottom: 0;

}


.location-rest:hover {
    background: linear-gradient(90deg, #FB6F5B 0%, #F84D6A 100%);
    box-shadow: 0px 10px 32px rgba(249, 90, 98, 0.12);
    border-radius: 6px;
    color: #FFFFFF;
}
.location-hot:hover {
    background: linear-gradient(90deg, #FB6F5B 0%, #F84D6A 100%);
    box-shadow: 0px 10px 32px rgba(249, 90, 98, 0.12);
    border-radius: 6px;
    color: #FFFFFF;
}
.location-mark:hover {
background: linear-gradient(90deg, #FB6F5B 0%, #F84D6A 100%);
box-shadow: 0px 10px 32px rgba(249, 90, 98, 0.12);
border-radius: 6px;
color: #FFFFFF;
}

.hotels{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    &-title {
        font-weight: 500;
         font-size: 44px;
         line-height: 58px;
         text-align: center;
         color: $dark;
         margin-bottom: 0;
    }

    &-subtitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        color:$pink;
        margin-top: 10px;
    }
    & .container {
        width: 100%;
        margin-left: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    & .block {
        width: 280px;
        height: 280px;
        margin-left: 10px;
        


        &.large {
            width: 580px;
        }
    }

}
.block-descript{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: rgba(38, 50, 56, 1);
    padding-left: 20px;
}
.market{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    &-title {
        font-weight: 500;
         font-size: 44px;
         line-height: 58px;
         text-align: center;
         color: $dark;
         margin-bottom: 0;
    }

    &-subtitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        color:$pink;
        margin-top: 10px;
    }
    & .container {
        width: 100%;
        margin-left: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    & .block {
        width: 280px;
        height: 280px;
        margin-left: 10px;
        


        &.large {
            width: 580px;
        }
        &-description{
            background-color: #FB715A;
            padding: 280px 280px; 
        }
        
    }

}


.transport{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    &-title {
        font-weight: 500;
         font-size: 44px;
         line-height: 58px;
         text-align: center;
         color: $dark;
         margin-bottom: 0;
    }

    &-subtitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        color:$pink;
        margin-top: 10px;
    }
    & .container {
        width: 100%;
        margin-left: 50px;
        display: flex;
        flex-wrap: wrap;
       
    }

    & .block {
        width: 280px;
        height: 280px;
        margin-left: 10px;
        box-shadow:0px, 1px  rgba(0, 0, 0, 0.12);
        


        &.large {
            width: 580px;
        }
        &-description{
            background-color: #FB715A;
            padding: 280px 280px; 
        }
    }
}
.cont{
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 80px;
    &-picture{
        margin-right: 58px;
        
    }
    &-title{
        font-size: 44px;
        font-weight: 500;
        line-height: 48px;  
    }
    &-subtitle{
        max-width: 523px;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }

}
.footer{
max-width: 1440px;
margin-top: 120px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    background-color: #ffffff;
}
.foot-links{
    list-style-type: none;
    max-width: 234px;
    padding: 0;
    height: 182px;
}

.foot-title{
    text-decoration: none;
    color: #263238;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    
}
.foot-subtitle{
    text-decoration: none;
    color: #AFAFAF;
    font-size: 16px;
    line-height: 28px;
}

.arrow-image{
    margin-left:10px;
}
.foot-image{
    margin-right: 10px;

}
.block-text{
    width:280px;
    height:280px;
    background-image: url(img/dish.svg);
    background-color: rgba(248, 77, 106, 0.9)
    
}
.image{
    margin-right: 30px;
}
.block-container{
    width: 270px;
    height: 280px;
    background: linear-gradient(90deg, rgba(251, 111, 91, 0.9) 0%, rgba(248, 77, 106, 0.9) 100%);
     border-radius: 6px;
     margin-left: 10px;
     margin-top: 18px;
   
    
    
}
.block-desc{
font-weight: 500;
font-size: 70px;
line-height: 26px;
color: #FFFFFF;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;

}
.block-hotel{
    width: 223px;
    height: 226.78px;
    
}
.market-image{
    width: 209px;
    height: 263px;
    margin-top: -84px;
    padding-left: 30px;
    opacity: 0.2;
}
.dish-image{
    width: 250px;
    height: 250px;
    margin-top: 40px;
    padding-left: 10px;
    opacity: 0.2;
}

.block-desc{
    margin-bottom: 0;
    margin-top: 115px;
}
.transport-image{
    padding-left: 20px;
    opacity: 0.2;
}
.hotel-image{
    padding-left: 20px;
    opacity: 0.2;
}
.block{
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    &.large{
        border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 20px;

    }
}
.footer-end {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #AFAFAF;
}


@-webkit-keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }
  @keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }